header{
    text-align: left;
    padding: 9px;
    background-image: linear-gradient(to top left, #1a1919, #272626);
}

body,
html,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: sans-serif;
    text-align: center;
    background-color: white;
    text-align: left;
}

.container-principal {
    margin: 0px;
    border-radius: 0px;
    padding: 50px;
    background-image: url("../images/fundo.jpg");
    background-size: cover;
    color: white;
}

h1 {
    margin-top: 50px;
}

h1 small{
    font-style: italic;
    color: rgb(240, 240, 240);
}

.logo img {
    width: 200px;
    margin-top: 40px;
}

.content{
    text-align: left;
}

.content h2{
    padding-top: 100px;
    padding-bottom: 40px;
    padding-left: 80px;
    font-size: 40px;
    background-color: rgb(240, 240, 240);
}

.content a{
    margin: 0;
    padding: 0;
    display: inline-block;
}

.labs-button {
    background: #1d6bd0;
}

.spotify-button {
    background: #1dd05d;
}

.services-button{
    background-image: linear-gradient(to top left, #1a1919, #272626);
}

.youtube-button {
    background: red;
}

.container-buttons{
    padding: 50px;
}

.container-buttons a{
    color: white;
    font-size: 20px;
    margin: 10px;
}

.optionButton{
    overflow: hidden;
    color: white;
    font-weight: bold;
    margin: 10px;
    display: inline-block;
    border-radius: 5px;
    height: 175px;
    width: 300px;
    text-align: center;
}

.optionDescription{
    background-color: rgb(240, 240, 240);
    color: black;
    padding: 9px 15px;
    font-size: 12px;
}

.optionContent{
    padding: 40px 80px;
    font-size: 28px;
}

.optionContent .material-icons{
    font-size: 80px;
}

.optionContent img{
    width: 50px;
    height: auto;
}

.container-passport{
    text-align: center;
}

.services{
    padding: 5%;
}

.services h1{
    font-size: 38px;
    color: black;
}

.services h1 small{
    font-size: 22px;
    width: 60%;
    display: inline-block;
    color: rgb(24, 24, 24);
    line-height: 40px;
}


.services h2{
    margin-top: 20px;
    font-size: 22px;
    color: rgb(50, 50, 50);
}

.services .material-icons{
    font-size: 50px;
}